<h1>Stupid Coaching.</h1>
<p>Here is what you asked.</p>

<div>
  <p><%= params[:ask] %> - You.</p>
  <p><%= @answer %> - Coach.</p>
</div>

<div>
  <%= link_to "Ask another question.", ask_path %>
</div>
